<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Giới thiệu về Thầy Minh</h2>
                    <h3 class="section-subheading text-muted">Quý phụ huynh và các em học sinh thân mến!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tháng 6 2019</h4>
                                    <h4 class="subheading">Sự khởi đầu</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thầy Minh bắt đấu giảng dạy tại MathFun Nguyên Hồng với quy mô lớp chỉ từ 3 đến 5 bạn.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tháng 6 2021</h4>
                                    <h4 class="subheading">Mở lớp cận chuyên</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thầy Minh mở lớp cận chuyên đầu tiên, hướng tới mục tiêu luyện tập cho các con có năng lực và mong muốn thi vào các lớp nâng cao.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tháng 6 2022</h4>
                                    <h4 class="subheading">Mở lớp luyện chuyên điều kiện</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thầy Minh mở lớp luyên chuyên điều kiện đầu tiên, hướng tới mục tiêu luyện tập cho các con có mong muốn thi chuyên các môn khác (Văn, Anh, Lý, ...) cần toán làm điều kiện đầu vào.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tháng 6 2024</h4>
                                    <h4 class="subheading">Thành lập MathFun THPT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Được học trò và quý phụ huynh yêu quý, thầy Minh mở các lớp THPT đầu tiên, với mong muốn giúp các con luyện thi THPT quốc gia, mở ra con đường tới Đại Học và công việc mơ ước của các con.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>